@import url(variables.css);
* {
    margin: 10px;
}
.titulo {
    display: flex;
    justify-content: center;
    font-size: xx-large;
}
.container {
    position:absolute;
    right: 20%;
    width: 60%;
    padding: 10px;
}
.fila1 {
    padding: 3px;
    background-color: var(--color-container);
    display: flex;
    justify-content: space-between;
}
.fila2 {
    background-color: var(--color-container);
    display: flex;
    justify-content: space-between;
}
.fila3 {
    background-color: var(--color-container);
    display: flex;
    justify-content: space-between;
}
.fila4 {
    background-color: var(--color-container);
    display: flex;
    justify-content: space-between;
}
.btn {
    display: flex;
    justify-content: end;
}